.App {
  text-align: center;
}

.AccordionComponent:hover {
  background-color: #f9f9f9;
}

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    max-width: 10%;*/
/*    max-height: 10%;*/
/*  }*/
/*}*/

.App-header {
  background-color: #FFFFFF;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: start;
}

.App-logo {
  height: 12vmin;
  pointer-events: none;
  align-items: end;
}

nav {
  height: 12vmin;
  width: 90%;
}

.create-button {
  float:right;
  max-height: 12vmin;
  max-width: 20%;
  margin-bottom: 50px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.create-button:hover {
  background-color: #0056b3;
}

.App-link {
  color: #61dafb;
}

.MuiIconButton-sizeSmall

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
